{% extends 'resume/base.html' %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="prof-image">
        <img src="{% static 'resume/images/photo.jpg' %}" alt="Your Photo" class="profile-photo">
    </div>
    <div class="right-section">
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/your-instagram-profile" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.github.com/your-github-profile" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <h1>Hello, Welcome</h1>
        <h2 class="animated-text">I am Vivek</h2>
        <p class="desc">
            Full Stack Developer with a passion for creating dynamic and responsive web applications. Experienced in
            a variety of programming languages and frameworks, and committed to continuous learning and professional
            development.
        </p>
        <a href="{% url 'projects' %}" class="btn">See my work</a>
        <a href="{% static 'resume/files/my_cv.pdf' %}" class="download-btn" download>Download CV</a>
    </div>
</div>
{% endblock %}