/* Basic styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #1c1f2e, #a3b1c6);
    color: #444;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    animation: gradient-bg 10s infinite alternate;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Navbar */
.navbar {
    background: rgba(41, 45, 62, 0.8);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    padding-left: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    margin: 10px 15px;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #4a5062;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    padding: 30px 5px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 0 20px;
}

.profile-photo {
    width: 220px;
    border-radius: 50%;
    height: 240px;
    border: 3px solid #292d3e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    top: -50px;
    left: -35px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.social-icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.social-icons a i {
    font-size: 30px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: #ff7e5f;
}

.left-section:hover .social-icons {
    opacity: 1;
}

.right-section {
    flex: 2;
    margin-top: 60px;
    color: #fff;
    position: relative;
    padding: 30px;
    text-align: center;
    background: rgba(0, 16, 39, 0.397);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    backdrop-filter: blur(10px);
    max-width: 70%;
}

.right-section::before,
.right-section::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.skills-slider {
    animation: none;
}
.right-section::before {
    top: -20px;
    right: -20px;
}

.right-section::after {
    bottom: -20px;
    left: -20px;
}

.right-section h1 {
    margin-top: 30px;
    font-size: 3.5rem;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.right-section h2.animated-text {
    font-size: 2.5rem;
    color: #ff7e5f;
    position: relative;
    animation: 3s infinite;
    margin-bottom: 20px;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.right-section h1::before {
    content: '';
    position: absolute;
    left: 230px;
    top: 50%;
    width: 15px;
    height: 15px;
    background: #10172a;
    border-radius: 50%;
    animation: bounce 2s infinite;
    transform: translateY(-50%);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-15px) scale(1.2);
    }
}

.right-section p {
    font-size: 1.3rem;
}

.btn,
.download-btn {
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn {
    background: linear-gradient(to right, #909091, #3b4152);
    color: #fff;
    /* margin: 50px; */
}

.btn:hover {
    background: linear-gradient(to right, #4a5062, #5b6272);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.download-btn {
    margin: 20px;
    background: linear-gradient(to right, #909091, #3b4152);
    color: #fff;
}

.download-btn:hover {
    background: linear-gradient(to right, #4a5062, #5b6272);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background: rgba(41, 45, 62, 0.8);
    color: #fff;
    font-size: 1.1rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0;
}

.prof-image {
    position: absolute;
    z-index: 10000;
    top: 15%;
    left: 10%;
    overflow: visible;
}

@keyframes gradient-bg {
    0% {
        background: linear-gradient(135deg, #1c1f2e, #a3b1c6);
    }

    100% {
        background: linear-gradient(135deg, #a3b1c6, #1c1f2e);
    }
}

@media (max-width: 1440px) {

    .navbar ul li a {
        font-size: 2rem;
        padding: 10px 15px;
    }
    .profile-photo {
        margin-top: 0px;
    }
}

@media (max-width: 1024px) {

    .navbar ul li a {
        font-size: 2rem;
        padding: 10px 15px;
    }

    .main-content {
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;
    }

    .left-section {
        order: 2;
        text-align: center;
        padding: 20px 0;
    }

    .right-section {
        order: 1;
        margin-top: 80px;
        width:  80%;
        padding: 10px;
        max-width: 90%;
        text-align: center;
    }

    .profile-photo {
        width: 180px;
        height: 200px;
        margin-top: 40px;
        left: -60px;
    }

    .right-section h1::before {
        font-size: 3rem;
        left: 140px;
        margin-bottom: 20px;
    }

    .right-section h2.animated-text {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .right-section p {
        font-size: 1.1rem;
    }

    .btn,
    .download-btn {
        padding: 10px 25px;
        font-size: 1rem;
        margin: 20px;
    }

    .social-icons {
        bottom: 20px;
        justify-content: center;
    }

    .social-icons a {
        margin: 0 8px;
    }

    .right-section::before,
    .right-section::after {
        width: 100px;
        height: 100px;
    }

    .right-section::before {
        top: -10px;
        right: -10px;
    }

    .right-section::after {
        bottom: -10px;
        left: -10px;
    }
}



@media (max-width: 768px) {
    .navbar {
        align-items: center;
    }

    .navbar ul {
        flex-direction: row;
        align-items: center;
    }

    .navbar ul li {
        align-items: center;
    }

    .navbar ul li a {
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    .main-content {
        flex-direction: column;
        padding: 20px 60px;
    }

    .left-section {
        order: 2;
        text-align: center;
    }

    .right-section {
        order: 1;
        margin-top: 100px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 150%;
        text-align: center;
        padding: 10px;
    }

    .profile-photo {
        width: 145px;
        height: 160px;
        margin-left: 280px;
        margin-top: -45px;
    }


    .right-section h1::before {
        font-size:1.8rem;
        left: 100px;
        bottom: 20px;
    }
    .right-section h1 {
        font-size:2rem;
        bottom: -20px;
    }

    .right-section h2.animated-text {
        font-size: 1.5rem;
    }

    .btn,
    .download-btn {
        padding: 8px 20px;
        font-size: 0.9rem;
        margin-bottom: 50px;
    }

    .social-icons {
        bottom: 5px;
        left: 30px;
        justify-content: center;
    }

}

@media (max-width: 500px) {

    .main-content {
        padding: 30px 30px;
        margin-bottom: -40px;
    }

    .profile-photo {
        width: 120px;
        height: 135px;
        left: -180px;
        top: -50px;
    }

    .right-section {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .right-section h1 {
        font-size: 1.5rem;
    }
    .right-section h1::before {
        font-size: 1.2rem;
        left: 50px;
    }

    .right-section h2.animated-text {
        font-size: 1.2rem;
    }

    .right-section p {
        font-size: 0.8rem;
    }

    .btn, .download-btn {
        font-size: 0.8rem;
        padding: 10px 20px;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {

    .main-content {
        padding: 20px 20px;
        margin-bottom: -20px;
    }

    .profile-photo {
        width: 120px;
        height: 135px;
        left: -200px;
        top: -60px;
    }

    .right-section {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .right-section h1 {
        font-size: 1.5rem;
    }
    .right-section h1::before {
        font-size: 1.2rem;
        left: 50px;
    }

    .right-section h2.animated-text {
        font-size: 1.2rem;
    }

    .right-section p {
        font-size: 0.8rem;
    }

    .btn, .download-btn {
        font-size: 0.8rem;
        padding: 10px 20px;
        margin-bottom: 50px;
    }
}


@media (max-width: 320px) {
    .navbar ul li a {
        font-size: 0.8rem;
        padding: 5px 8px;
    }

    .main-content {
        margin-top: -20px;
        padding: 30px 20px;
        margin-bottom: -20px;
    }

    .profile-photo {
        width: 110px;
        height: 125px;
        left: -210px;
        top: -40px;
    }

    .right-section {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .right-section h1::before {
        font-size: 0.8rem;
        left: 10px;
        bottom: -20px;
    }
    .right-section h1 {
        font-size: 1.5rem;
        left: 0px;
        bottom: 0px;
    }

    .right-section h2.animated-text {
        font-size: 1rem;
        margin-bottom: -10px;
        margin-top: -10px;
    }

    .right-section p {
        font-size: 0.8rem;
        margin-bottom: 0px;
    }

    .btn, .download-btn {
        font-size: 0.8rem;
        padding: 5px 10px;
        margin-bottom: 0px;
    }

}